.dashboard {
  display: flex;
  justify-content: space-between;
}

.nav {
  min-width: 350px;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #e4e4e4;
}

.nav .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.nav .profile img {
  width: 100px;
  height: auto;
  border: 2px solid black;
  border-radius: 50%;
}

.nav .profile span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 37px;
}

.nav .navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.nav .navLinks .btn {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 10px;
  text-align: center;
  background: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.nav .navLinks #btn_container {
  width: 40px;
  height: 40px;
  position: relative;
}

.nav .navLinks .btn img {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.nav .navLinks .btn span {
  display: inline-block;
  width: 130px;
  vertical-align: middle;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
  margin-left: 60px;
  text-align: left;
}

.analytics {
  min-width: 290px;
  min-height: 90%;
  margin-right: 40px;
  background-color: black;
  margin-top: 50px;
  border-radius: 40px;
  color: white;
}

.analytics h1 {
  padding-top: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  padding-left: 50px;
}

.statistics {
  display: flex;
  flex-direction: column;
}

.statistics .btnAnalytics {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 0 10px;
  text-align: center;
  background-color: black;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.statistics #btn_container {
  width: 40px;
  height: 40px;
  position: relative;
}

.statistics .btnAnalytics img {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.statistics .btnAnalytics span {
  display: inline-block;
  width: 130px;
  vertical-align: middle;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
  margin-left: 30px;
  text-align: left;
  color: white;
}

.statistics .btnAnalytics p {
  font-size: 10px;
  color: white;
}

.tooltip {
  display: inline;
  position: relative;
}
.tooltip:hover:after {
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 8px;
  color: black;
  content: attr(title);
  margin: -82px auto 0;
  font-size: 16px;
  padding: 5px;
  width: 100px;
}
.tooltip:hover:before {
  border: solid;
  border-color: #444 transparent;
  border-width: 12px 6px 0 6px;
  left: 45%;
  bottom: 30px;
  position: absolute;
}

.middleSection h1 {
  margin-top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.middleSection h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #b0b0b0;
  text-align: center;
}

.middleSection .boxOne {
  width: 650px;
  height: 200px;
  background: #f6f4e7;
  border-radius: 30px;
}

.middleSection .boxContainer {
  display: flex;
  justify-content: space-between;
}

.middleSection .boxTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 401px;
  width: 43%;
  border-radius: 30px;
  background: #ffeee2;
  border-radius: 30px;
  text-align: center;
  overflow: scroll;
}

.middleSection .boxTwo img {
  padding-top: 170px;
  margin-top: 26px;
}

.middleSection .boxTwo h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #828383;
  margin: 0%;
}

.middleSection .boxTwo .mostClickLinks {
  margin-top: 10px;
  padding: 15px 30px 15px 30px;
  border-radius: 20px;
  background: #ebdcd1;
  text-align: center;
  margin-bottom: 10px;
}

.middleSection .boxThree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 401px;
  width: 43%;
  border-radius: 30px;
  text-align: center;
  overflow: scroll;
  background: #e6f5fa;
}

.middleSection .boxThree img {
  padding-top: 170px;
  margin-top: 26px;
}

.middleSection .boxThree h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #828383;
  margin: 0%;
}

.middleSection .boxThree .mostVisits {
  margin-top: 10px;
  padding: 15px 30px 15px 30px;
  border-radius: 20px;
  background: #cfdee2;
  text-align: center;
  margin-bottom: 10px;
}

.middleSection .boxOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 80px;
}

.middleSection .boxOne .views header {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #828383;
}

.middleSection .boxOne .views p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #000000;
  margin: 0%;
}

.middleSection .boxOne .views span {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #828383;
}

.middleSection .boxOne .visitors header {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #828383;
}

.middleSection .boxOne .visitors p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #000000;
  margin: 0%;
}

.middleSection .boxOne .visitors span {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #828383;
}

.middleSection .boxOne .clicks header {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #828383;
}

.middleSection .boxOne .clicks p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #000000;
  margin: 0%;
}

.middleSection .boxOne .clicks span {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #828383;
}
